*.jpg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Track filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
and filter=lfs diff=lfs merge=lfs -text
videos filter=lfs diff=lfs merge=lfs -text
with filter=lfs diff=lfs merge=lfs -text
LFS filter=lfs diff=lfs merge=lfs -text
